main = ".open-next/worker.js"
name = "xiaoyuzhou-downloader"
compatibility_date = "2026-01-20"
compatibility_flags = ["nodejs_compat"]
[assets]
directory = ".open-next/assets"
binding = "ASSETS"
[observability]
[observability.logs]
enabled = true
head_sampling_rate = 0.5
invocation_logs = true